@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;1,100;1,500;1,700&display=swap');


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body{
  background:black;
}

h1,a,p,h4{
  color: white;
  text-decoration: none;
}

ul{
  list-style-type:none;
}

.btn{
  padding: 12px 32px;
  font-size: 1 rem;
  text-transform: uppercase;
  background: rgb(116, 108, 4);
  color: #222;
  border: 1px solid #fff;
  cursor: pointer;
  font-weight: 600;
}

.btn-light{
  padding: 12px 32px;
  font-size: 1 rem;
  text-transform: uppercase;
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  font-weight: 600;
}

.btn:hover{
  background-color: rgb(222, 222,222,.4);
  color: #fff;
  transition: 0.3s;
}